.picture-guess-game{
    width: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.picture-window{
    height: 50%;
    width: 50%;
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}