.login-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form-container {
  width: 90%;
  max-width: 400px;
}
.login-form-container h2 {
  margin: 0rem;
  text-align: left;
}
.login-form-container p {
  text-align: left;
  font-size: 12px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
