.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.inspo-videos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

iframe {
  width: 30dvw;
  aspect-ratio: 16/9;
}

.logo {
  width: 500px;
  max-width: 80%;
}

p {
  /* max-width: 60%; */
  font-size: 18px;
  line-height: 1.2rem;
}

.forgotten {
  font-size: 24px;
  text-align: center;
  padding: 1rem;
  margin: 2rem 0;
  font-weight: 700;
}

@media (max-width: 680px) {
  .inspo-videos {
    flex-direction: column;
  }

  iframe {
    width: 90dvw;
    aspect-ratio: 16/9;
  }

  .forgotten {
    font-size: 18px;
  }

  p {
    max-width: 80%;
    font-size: 15px;
  }
}
