.Sidebar-wrapper{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Sidebar-content{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}