.app {
  width: 99dvw;
}
.under-nav {
  margin: 10dvh auto 10dvh;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--red-main) !important;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: var(--brown-main) !important;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--red-light) !important;
}
