.search-accordion-container {
  width: 90%;
  max-width: 700px;
  margin: 1rem auto;
}
.search-accordion {
  outline: thick double;
  outline-color: var(--brown-main);
  padding: 5px;
}

.search-input {
  width: 100%;
  padding-right: 1rem;
  display: flex;
  gap: 1rem;
}

.search-location {
  margin: 0 auto;
  margin-top: 1rem;
}

.search-slider {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.icon-container {
  padding: 10px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  max-width: 95%;
  height: 60px;
  margin: 1rem auto;
}

.icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: var(--brown-main);
  flex-shrink: 0;
  transition: transform 0.3s ease;
  object-fit: fill;
}

.icon:hover {
  transform: scale(1.15);
}

.icon:last-child {
  margin-right: 0;
}

.icon-container::-webkit-scrollbar {
  height: 8px;
}

.icon-container::-webkit-scrollbar-track {
  background: var(--brown-main);
  border-radius: 4px;
}

.icon-container::-webkit-scrollbar-thumb {
  background: var(--red-main);
  border-radius: 4px;
}

.icon-selected {
  outline: solid var(--red-light) 2px;
}
