.upload-container {
  margin: 1rem auto;
  text-align: center;
}

.upload-input {
  display: none;
}

.upload-button {
  background-color: var(--red-main);
  color: var(--red-contrast);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.upload-button:hover {
  background-color: var(--red-light);
}
