.album-card {
  height: 93%;
  padding: 10px;
  padding-bottom: 5px;
  background-color: var(--green-main);
  border-radius: 10px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.album-card-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.album-card > img {
  width: 100%;
  object-fit: contain;
  border: 2px solid black;
  border-radius: 10px;
  aspect-ratio: 16/9;
  background-color: black;
}
.album-card-title {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
}

.album-card-metadata {
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
}
