.album-card {
  height: 93%;
  padding: 10px;
  padding-bottom: 5px;
  background-color: var(--primary);
  border-radius: 10px;
  color: black;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.album-card > img {
  width: 100%;
  object-fit: contain;
  border: 2px solid black;
  border-radius: 10px;
  aspect-ratio: 16/9;
  background-color: black;
}
.album-card > h3 {
  width: 100%;
  margin: 0;
  padding: 10px;
  text-align: center;
}
.album-card > h4 {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}
.album-card > h5 {
  margin: 0;
  padding: 0;
  text-align: center;
}
