:root {
  --cream-main: #e2b48a;
  --cream-light: #eddab5;
  --cream-dark: #c8876a;
  --cream-contrast: #142117;

  --orange-main: #cc6635;
  --orange-light: #c9866c;
  --orange-dark: #cc6635;
  --orange-contrast: #142117;

  --red-main: #993831;
  --red-light: #a93e39;
  --red-dark: #87312d;
  --red-contrast: #eddab5;

  --green-main: #46624a;
  --green-light: #597d61;
  --green-dark: #2e422f;
  --green-contrast: #eddab5;

  --brown-main: #2b211a;
}
