.video-page {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  gap: 0.5rem;
}
@media (max-width: 600px) {
  .video-page {
    width: 90%;
  }
}

video {
  width: 100%;
  border-radius: 8px;
}

.video-metadata {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  outline: thick double;
  outline-color: var(--green-dark);
  padding: 5px;
}

.icon-container-vid {
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  width: inherit;
  height: 80px;
  flex: 0 0 auto;
  border-radius: 10px;
}

.icon-container-vid:hover {
  overflow-x: auto;
  scroll-behavior: smooth;
}

.icon-vid {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 50%;
  flex-shrink: 0;
  transition: transform 0.3s ease;
  object-fit: cover;
  background-color: var(--brown-main);
}

.icon-vid:hover {
  transform: scale(1.15);
}

.icon-vid:last-child {
  margin-right: 0;
}

.comments-accordion {
  width: 100%;
}
.comments-container {
  outline: thick double;
  outline-color: var(--green-dark);
  padding: 5px;
}
.comment-textfield {
  width: 100%;
}

.comment {
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  display: flex;
  align-items: flex-start;
  gap: 0.7rem;
}
.comment:nth-child(odd) {
  background-color: var(--green-dark);
}

.comment:nth-child(even) {
  background-color: var(--green-main);
}

.comment:first-child {
  border-radius: 10px 10px 0 0;
}
.comment:nth-last-child(2) {
  border-radius: 0 0 10px 10px;
}
.comment span {
  padding-top: 0.4rem;
  flex: 1;
}
.comment-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.add-comment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  padding-top: 1rem;
}
.form-container {
  width: 100%;
}

.suggestions {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 140px;
  width: 100%;
}

.next-video-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.next-video-thumbnail {
  width: 100%;
  height: 80%;
  object-fit: contain;
  display: block;
}

.next-video-text {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.next-video-thumbnail:hover {
  transform: scale(1.03);
}

@media (max-width: 768px) {
  .suggestions {
    height: auto;
    flex-direction: column;
    gap: 1rem;
    margin-top: 0.5rem;
  }

  .next-video-container {
    max-width: 100%;
    font-size: 20px;
  }
}
